
/* Leaflet ------------------------------ */

.leaflet-container {
    z-index:0;
    min-height: 600px;
}

.leaflet-popup-content-wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-tip-container {
    display: none !important;
}


/* The "league" table ------------------------------ */

#league-table {
    font-size: x-small;
}

/* The "footnote references" on the regional dashboard page ------------------------------ */

#footnote-ref {
    font-size: x-small;
    position: relative;
    top: -1.5rem;
    left: 1rem;
} 

/* The "easier open data" tables ------------------------------ */

#easier-table-fff1e5 {
    font-size: small;
    background-color: #fff1e5;
}

#easier-table-f2dfce {
    font-size: small;
    background-color: #f2dfce;
}

#easier-table-default {
    font-size: small;
}



/* Brand logo ------------------------------ */

.brand-logo {
 width: 32px;
 margin-right: 10px;
}

/* Footer ------------------------------ */

.footer {
    text-align: center;
    font-size: x-small;
}

/* Make a div standout on-hover ------------------------- */

#standout:hover {
    transform: translate3D(0,-1px,0) scale(1.01); /* move up slightly and zoom in */
    box-shadow: 2px 6px 12px rgba(39,44,49,.07), 1px 3px 6px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
}


/* Navbar dynamics ------------------------------ */

/*
.has-dropdown label[class="navbar-link"]::after {
	transform: rotate(-135deg);
	transition: transform 0.2s;
}
.has-dropdown label[class="navbar-link is-active"]::after {
	transform: rotate(-45deg);
	transition: transform 0.2s;
}
*/



/* Navbar sundry ------------------------------ */


/* Specify this using sass instead? */
.navbar-divider {
    background-color: #4D4637; /* 'richbrown' */
}

/*
.navbar-content {
    white-space: unset !important;
    max-width: 400px;
}
*/

/* Allow for the navbar area when scrolling-into-view a specific element (doesn't work in Safari) */
/*Commented out and instead using a JS workaround for Safari
[id] {
  scroll-margin-top: 3rem;
}
*/

/* Hack to make the line along the bottom border of tabs, show up when the tabs are nested within Bulma's content-type elements */
.tabs > ul > li {
    border-bottom: 1px solid;
}