
/* Leaflet ------------------------------ */

.leaflet-container {
    z-index:0;
    min-height: 600px;
}

.leaflet-popup-content-wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-tip-container {
    display: none !important;
}


/* The "league table" ------------------------------ */

#league-table {
    font-size: x-small;
}


/* Brand logo ------------------------------ */

.brand-logo {
 width: 32px;
 margin-right: 10px;
}

/* Footer ------------------------------ */

.footer {
    text-align: center;
    font-size: x-small;
}


/* Navbar dynamics ------------------------------ */

/* We don't need checkbox to be displayed in order for it to work */
.toggler {
  display: none;
}

/* Hamburger changes to X when toggler is checked */
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
  opacity: 0;
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

/*  Displays menu when toggler is checked only on mobile/tablet */
@media screen and (max-width: 1024px) {
  .navbar .toggler:checked ~ .navbar-menu {
    display: block;
  }
  /* We don't want menu to be displayed on mobile by default */
  .navbar-menu {
    display: none;
  }
}

/* For dropdown functionality */

/* Same reason as for checkbox */
.has-dropdown input[type=checkbox] {
  display: none;
}
/* Hide by default */
.navbar-dropdown {
  display: none;
}
/* The functionality */
#explore-checkbox:checked ~ #explore-dropdown,
#data-checkbox:checked ~ #data-dropdown,
#about-checkbox:checked ~ #about-dropdown {
    display: block;
}


/* Navbar sundry ------------------------------ */

/* Specify this using sass instead? */
.navbar-divider {
    background-color: #4D4637; /* 'richbrown' */
}



