
:root {
    --navbar-height: 55px;
}

.main-container {
    height: 100vh;
    width: 100vw;
    max-width: 1000px;
    color: #333;
    background-color: floralwhite; /* #f2f2f2; */
    padding: 5px;
}

.navbar {
    height: var(--navbar-height);
}

#map-ui {
    height: calc((100vh * (2/3)) - var(--navbar-height));
    width: 100%;
}

.settings-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-form {
    width: 40%;
}

.search-btn {
    width: 75px;
}

.token-btn {
    width: 75px;
}

.navbar-inputs {
    display: flex;
    justify-content: center;
}

.leaflet-popup-content-wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-tip-container {
    display: none !important;
}




.navbar {
    display: flex;
    align-items: center;
    margin: 3px;
    color: #fff;
    background-color: #788585;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar a {
    color: #fff !important;
    font-size: 26px;
    text-decoration: none;
}
.navbar img {
    max-height: 64px;
    width: auto;
    padding: 3px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}




.page-title {
  padding: 0px;
  text-align: center;
}

.region-title {
  padding: 0px;
  text-align: center;
  color: olive;
}


#centre {
    text-align: center;
}
.positions th {
    text-align: left;
    color: gray;
}
.positions th, td {
    font-size: smaller;
}
.position {
    text-align: right;
}
.bottom-border {
    border-bottom-style: solid;
    border-width: 1px;
}


.floats-left-column {
  float: left;
}

.floats-right-column {
  float: right;
}

.one-third-width {
  width: 33.33%;
}

.two-thirds-width {
  width: 66.66%;
}

.two-fiths-width {
  width: 40.00%;
}

.three-fiths-width {
  width: 60.00%;
}

.half-width {
  width: 50.00%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .one-third-width, .two-thirds-width, .two-fiths-width, .three-fiths-width, .half-width {
    width: 100%;
  }
}