.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAreaMargins {
	margin: 10px;
}

.title {
  text-align: center;
  line-height: 60%;
}

.banner-title {
    display: flex;
    align-items: center;
    margin: 3px;
    color: #fff;
    background-color: #788585;
}
.banner-title img {
    max-height: 64px;
    width: auto;
    padding: 3px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}
.navbar-brand {
    font-size: 26px;
    padding: 0px 15px;
    font-family: 'Alegreya';
    text-decoration: none;
}
.banner-title a {
    color: #fff !important;
}